<h1>User#sign_in</h1>
<p>Find me in app/views/user/sign_in.html.erb</p>

<section class="signinform cf">
<form name="homepage" action="user/sign_in" method="get" accept-charset="utf-8">
    <ul>
        <li><label for="usermail">Username</label>
        <input type="string" name="usermail" placeholder="yourname@email.com"></li>
        <li><label for="password">Password</label>
        <input type="password" name="password" placeholder="password"></li>
        <li>
        <input type="submit" value="Sign In" name="sign_in_button"></li>
        <li>
        <input type="submit" value="Sign Up" name="sign_up_button"></li>
    </ul>
</form>
</section>
